#topnav {
    position: fixed; 
    top: 0; 
    right: 0; 
    overflow-x: hidden; 
    display: flex; 
    align-items: flex-end;
    padding: 10px;
}

#loginButton {
    margin: 10px;
    text-decoration: none;
    background: #C8FACC;
    font-family: Arial, sans-serif;
    color: black;
    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    text-align: center;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
    min-width: 70px;
}

#signupButton {
    margin: 10px;
    text-decoration: none;
    background: #05297A;
    font-family: Arial, sans-serif;
    color: #ffffff;
    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    text-align: center;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
    min-width: 70px;
}